/* src/assets/main.css */

@import './base.css';

#app {
  width: 100%;
  height: 100vh; /* Ocupa 100% da altura da janela */
  margin: 0;
  padding: 0;
  max-width: none; /* Remove o limite de largura */
  display: block;  /* Remove o display: grid antigo */
}

/* Removemos as regras de @media que centralizavam a tela */